Repository grafana/k6, pull requests merged in 2025-07, with the labels that each got.

#4897 Browser: Support string-labels in locator.selectOption
  internal/js/modules/k6/browser/common/element_handle.go
  internal/js/modules/k6/browser/tests/locator_test.go
Labels: area: browser, browser: playwright

#4916 Refine console.log to properly print errors
  internal/js/console.go
  internal/js/console_test.go
Labels: ux

#4899 Browser: Add locator.all
  internal/js/modules/k6/browser/browser/locator_mapping.go
  internal/js/modules/k6/browser/browser/mapping_test.go
  internal/js/modules/k6/browser/common/locator.go
  internal/js/modules/k6/browser/tests/locator_test.go
Labels: enhancement, area: browser, browser: playwright

#4666 Log metrics & traces flush to cloud as 'trace'
  output/cloud/expv2/output.go
Labels: enhancement
